@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #fdfaff;
  background-image: linear-gradient(135deg, #ffffff 25%, transparent 25%), linear-gradient(225deg, #ffffff 25%, transparent 25%), linear-gradient(45deg, #ffffff 25%, transparent 25%), linear-gradient(315deg, #ffffff 25%, #fdfaff 25%);
  background-position: 29px 0, 29px 0, 0 0, 0 0;
  background-size: 58px 58px;
  background-repeat: repeat;
  background-attachment: fixed;
}

/* Estilos sección Contacto */
#contacto {
  padding-top: 70px;
  padding-bottom: 10px;
  margin: -70px 10px 10px 10px;
  border-bottom: solid 1px;
  border-color: #554d5a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contacto * {
  margin: 7px;
}

/* Estilos sección Equipo */
#nuestro-equipo {
  padding-top: 80px;
  padding-bottom: 10px;
  margin: -70px 10px 10px 10px;
  border-bottom: solid 1px;
  border-color: #554d5a;
}

#container-equipo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 400px) {
  #container-equipo {
    display: flex;
    flex-direction: column;
  }
}

.team-picture {
  width: 20%;
  transition: all 2s;
}

.team-picture:hover {
  transform: scale(1.3);
}

.team-text {
  font-style: italic;
  font-weight: 100;
  margin-top: 30px;
}

/* Estilos footer */
#footer {
  margin: 20px;
}

.footer-icons-div {
  text-align: center;
}
@media only screen and (max-width: 530px) {
  .footer-icons-div {
    display: flex;
    flex-direction: column;
  }
}

.footer-icons-div a {
  text-decoration: none;
  margin: 40px;
}

.footer-icon {
  transform: all 1s;
}

.footer-icon:hover {
  transform: scale(1.4);
}

/* Estilos formularios */
label {
  font-family: "Montserrat", sans-serif;
  color: #554d5a;
  font-weight: 100;
  font-size: 20px;
}

input {
  display: block;
}

.button {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #725cf0;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-width: 0.1px;
}

/* Estilos texto inicio y gastos */
#gastos {
  padding-top: 80px;
  padding-bottom: 10px;
  margin: -70px 10px 10px 10px;
  border-bottom: solid 1px;
  border-color: #554d5a;
}

#container-gastos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media only screen and (max-width: 750px) {
  #container-gastos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#inputs-gastos {
  padding: 20px;
}

@media only screen and (max-width: 750px) {
  #piechart {
    width: 360;
  }
}

li {
  font-family: "Montserrat", sans-serif;
  color: #554d5a;
  font-weight: 100;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

li label {
  margin: 10px;
  width: 100px;
}

li input {
  width: 100px;
}

.text-block {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: #554d5a;
  font-size: 20px;
  text-align: left;
}

#input-ingreso {
  max-width: 200px;
}

.small-input {
  max-width: 100px;
  max-height: 40px;
}

/* Estilos sección Inicio */
#inicio {
  padding-top: 80px;
  padding-bottom: 10px;
  margin: -70px 10px 10px 10px;
  border-bottom: solid 1px;
  border-color: #554d5a;
}

/* Estilos sección Login */
.formElement {
  margin: 5px;
}

/* Estilos menú/navbar */
.navbarStyles {
  background-color: #fdfaff;
  border-bottom: solid 1px;
  border-color: #554d5a;
}

.listText {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #554d5a;
  transition: all 1ms;
}
.listText:hover {
  color: #721a8f;
  transform: scale(1.04);
}

/* Estilos titulos */
h1,
h2,
h5 {
  font-family: "Montserrat", sans-serif;
  color: #908597;
  text-align: center;
  font-size: 30px;
}

.title-gastos {
  text-align: left;
  margin-top: 20px;
}

/* Estilos Términos y Condiciones */
.bee-title {
  padding: 10px;
}

.bee-text {
  font-size: xx-small;
  padding: 10px;
  margin-top: -5px;
}

/*# sourceMappingURL=style.css.map */
