/* Estilos footer */

#footer {
    margin: 20px;
}

.footer-icons-div {
    text-align: center;
    @media only screen and (max-width: 530px) {
        display: flex;
        flex-direction: column;
    }
}

.footer-icons-div a {
    text-decoration: none;
    margin: 40px;
}

.footer-icon {
    transform: all 1s;
}

.footer-icon:hover {
    transform: scale(1.4);
}